* {
	font-family: "Ubuntu Mono", mono-spaced;
	background: white;
}

/* Stylings for the Pages Header */
#header-container {
	text-align: center;
	font-size: 30px;
}

/* Stylings for the header-links */
#links-container {
	text-align: center;
	font-size: 25px;
}

/* Stylings for the introduction */
#introduction-head {
	font-size: 23px;
	font-style: bold;
}

/* Stylings for Text Bodies */
.text-body {
	font-size: 20px;
}

/* Header Styles */
.header {
	font-size: 23px;
	font-style: bold;
}

/* General Link Stylings */
a:-webkit-any-link {
	text-decoration: none;
	color: #3498db;
    cursor: pointer;
}

a:hover {

  transition: color 0.4s;
  color: #2980b9;

}